<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>
<form name="vm.accountForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" data-ng-model="vm.account.name" type="text" placeholder="Имя" required ng-minlength="3" name="accountName">
    </div>
    <div ng-messages="vm.pokemonForm.pokemonName.$error" ng-if="vm.pokemonForm.pokemonName.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">Поле обязательно для заполнения</div>
        <div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>
    </div>

    <div class="form-group">
        <label>Емэил</label>
        <input class="form-control" data-ng-model="vm.account.email" type="text" placeholder="Емэил" data-ng-pattern="/^.+\@.+\..+$/" name="accountEmail">
    </div>
    <div role="alert" ng-messages="vm.accountForm.accountEmail.$error" ng-if="vm.accountForm.accountEmail.$dirty">
      <div ng-message="required" class="alert alert-danger" role="alert">Поле обязательно для заполнения</div>
        <div ng-message="pattern" class="alert alert-danger">Неправильный емэил</div>
    </div>

    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" data-ng-model="vm.account.phone" type="text" placeholder="Телефон" data-ng-pattern="/^[0-9()-\+]+$/" name="accountPhone">
    </div>
    <div role="alert" ng-messages="vm.accountForm.accountPhone.$error" ng-if="vm.accountForm.accountPhone.$dirty">
        <div ng-message="pattern" class="alert alert-danger">Неправильный номер телефона</div>
    </div>

    <button type="submit" class="btn btn-default" data-ng-click="vm.addPokemon(vm.newPokemon)" data-ng-disabled="vm.pokemonForm.$invalid">Добавить
    </button>
</form>
